<!DOCTYPE html>
<html>
<head>
	<title></title>
<style> 
    img {
        
        position: absolute;
        size: cover;
        z-index: -1;
        opacity: 0.8;
        width: 100%;
        height: 100%;
                
    }
    #id{
      border:0;
    }
    
    </style>
    <script src="./node_modules/web3/dist/web3.min.js"></script>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--cookie font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</head>
<body>
<!--<h1>select one book</h1>-->
<img src="views/a1.jpg"></img>
         <div class = "col s12 m12 l12">
            <nav>
               <div class = "nav-wrapper #880e4f black darken-3">
                  <p class = "brand-logo left" style="font-family: Cookie; font-size: 50px;"> &nbsp;&nbsp;Autobioscrypt</p>
                  <ul id = "nav-mobile" class = "right hide-on-med-and-down">
                    
                     <li><a href = "http://localhost:3000/logout">Logout</a></li>
               </div>
            </nav>
         </div>
    <center>



<h1 style="font-family: Cookie; font-size: 50px;"> Continue with any one of these Chapters</h1>


<form name="continue_page" action="http://localhost:3000/page_show" method="post">

<table><tr> <th>Chaptername</th><th>Select</th></tr>
  
  

<%

       
            
            var result=JSON.parse(pagename);
        for(var i = 0; i < result.length; i++) {
            var book=result[i];%>
            <tr><td>Page no: <%= book.page_no%></td><td><input type="radio" name="pageid" value="<%=book.pageid%>"></td></tr>

   <%      
   			console.log(book.pageid);
		}
           
        
   %>
   


</table>
<button class="btn waves-effect waves-light #880e4f black darken-3" style="width: 500px; color: white;" type="submit" id="submit">View Pages</button>
 </form>
</body>
</html>
